<%= form_for(@feuille) do |f| %>
    <% if @feuille.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feuille.errors.count, "error") %> prohibited this feuille from being saved:</h2>

      <ul>
      <% @feuille.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= @client.nom %>
    <%= f.hidden_field :client_id %>
  </div>

  <div class="field">
    <%= f.label :debut %><br />
    <%= f.datetime_select :debut %>
  </div>
  <div class="field">
    <%= f.datetime_select :fin %>
    <button type="button" class="btn" data-toggle="button">Pause</button>
    <script>
        $().button('toggle')
    </script>
  </div>

  <div class="field">
    <%= f.label :travail_effectuer %><br />
    <%= f.text_area :travail_effectuer %>

  </div>
  <div class="field">
    <%= f.label :surtemps %><br />
    <%= f.text_field :surtemps %>
  </div>
  <div class="field">
    <%= f.label :voyagement %><br />
    <%= f.text_field :voyagement %>
  </div>
  <div class="field">
    <%= f.label :nc %><br />
    <%= f.text_field :nc %>
  </div>
  <% if "#{request.fullpath}" == "/clients/#{@feuille.client_id}/new_feuille" %>
    <div class="actions">
         <%= f.submit "Créer la feuille" %>
    </div>
  <% else %>
     <div class="actions">
        <%= f.submit "Mise à jour de la feuille" %>
     </div>
  <% end %>
<% end %>

